.pic {
  width: 100%;
  max-width: 500px;
  display: none;
}

#carousel p {
  text-align: center;
}

.active {
  display: initial;
}

#timer ul li {
  display: inline-block;
  width: 20%;
  padding: 2%;
  text-align: center;
}

#timer ul li p {
  text-align: center;
}

audio {
  display:  none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 50% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.modal-content ul {
  padding: 0;
}

.modal-content ul li {
  display: inline-block;
  padding: 0;
  width: 35%;
  color: white;
  border: solid #888;
}

#yes {
  background-color: #58c43d;
}

#no {
  background-color: #d03131;
}

#music {
  display: none;
  background-color: #58c43d;
  width: 80%;
  margin: 15px 10%;
  border: solid #888;
  color: white;
}

#yes:hover, #no:hover, #music:hover {
  cursor: pointer;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}