.pic {
  width: 100%;
  max-width: 500px;
  display: none;
}

#carousel p {
  text-align: center;
}

.active {
  display: initial;
}

#timer ul li {
  display: inline-block;
  width: 20%;
  padding: 2%;
  text-align: center;
}

#timer ul li p {
  text-align: center;
}

audio {
  display:  none;
}