/** {
  border: solid black 2px;
}*/
body {
    margin: 0;
    width: 100%;
  }

a:visited {color: blue;}

  .wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  p {
    font-size: 20px;
  }

  li {
    font-size: 20px;
  }

  h4 {
    font-size: 25px;
  }

  nav {
    /*border: black 3px solid;*/
    margin: 0;
    padding: 0;
    background: rgb(5, 100, 0);
    border: hsla(0, 100%, 100%, 0.53) 6px solid;
    text-align: center;

  }

  nav li {
    list-style: none;
    padding: 5px;
  }

  .ff-links li {
    display: inline;
    margin: 0 15px;
    list-style: none;
  }

  .ff-links li a {
    text-decoration: none;
  }

  .icon {
    height: 20px;
    margin: 2.5px 5px;
  }

  .league {
    text-align: center;
    -webkit-flex: 1;
    flex: 1;
    color: mintcream;
    font-size: 2em;
    font-family: cursive;
  }

  .container {
    /*border: black 3px solid;*/
    margin: 0 5%;
    padding: 10px 0;
    -webkit-flex: 1;
    flex: 1;
  }

  .pong-layout {
    margin: 25px 0;
    display: -webkit-flex;
    display: flex;
    /*padding: 10px 0;*/
    align-content: center;
  }

  .pong-layout div {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
  }

  .pong-layout div img {
    width: 250px;
  }

   .pong-layout div p {
    font-size: 1.5em;
    /*padding: 15% 0;*/
  }

  .shooting-order {
    display: flex;
  }

  .shooting-order div {
    flex: 1;
    text-align: center;
    align-content: center;
    margin: 5%;
  }

  .shooting-order h1 {
    font-size: 40;
    color: green;
  }

  .order ol {
    text-align: left;
    font-size: 20px;
    margin: 10px;
  }

  .btn {
    padding: 20px;
    font-size: 20px;
    border-radius: 12px;
    margin-bottom: 10px;
  }

  jumbotron {
  /*  display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;*/
  }

  .instructions {
    font-weight: bold;
    /*text-align: center;*/
  }


  footer {
    /*border: black 3px solid;*/
    padding: 20px 0;
    background: rgb(5, 100, 0);
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .date {
    text-align: center;
  }

  .lineup-name {
    font-size: 2em;
    text-align: center;
    color: green;
  }

  .lineup-img {
    height: 500px;
    /*margin: 0 30%;*/
  }


/* Table Styling */

.datagrid table {
   border-collapse: collapse; text-align: left; width: 100%;
  }
   .datagrid {
      font: normal 12px/150% Arial, Helvetica, sans-serif;
       background: #fff;
       overflow: hidden;
       border: 1px solid #36752D;
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       border-radius: 3px;
  }
  .datagrid table td, .datagrid table th {
     padding: 3px 10px;
  }
  .datagrid table thead th {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );
      background:-moz-linear-gradient( center top, #36752D 5%, #275420 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
      background-color:#36752D;
       color:#FFFFFF;
       font-size: 15px;
       font-weight: bold;
       border-left: 1px solid #36752D;
}
 .datagrid table thead th:first-child {
   border: none;
  }
  .datagrid table tbody td {
    color: #275420;
    border-left: 1px solid #C6FFC2;
    font-size: 1em;
    font-weight: normal;

  }
  .datagrid table tbody .alt td {
     background: #DFFFDE;
      color: #275420;

  }
  .datagrid table tbody td:first-child {
     border-left: none;

  }
  .datagrid table tbody tr:last-child td {
     border-bottom: none;

  }
  .datagrid table tfoot td div {
     border-top: 1px solid #36752D;
     background: #DFFFDE;

  }
   .datagrid table tfoot td {
      padding: 0;
      font-size: 12px
  }
   .datagrid table tfoot td div{
      padding: 2px;

  }
  .datagrid table tfoot td ul {
     margin: 0;
      padding:0;
      list-style: none;
      text-align: right;

  }
  .datagrid table tfoot  li {
     display: inline;

  }
  .datagrid table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #36752D;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );
    background:-moz-linear-gradient( center top, #36752D 5%, #275420 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
    background-color:#36752D;
  }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
   text-decoration: none;
   border-color: #275420;
    color: #FFFFFF;
    background: none;
    background-color:#36752D;
  }
  div.dhtmlx_window_active, div.dhx_modal_cover_dv {
     position: fixed !important;
  }
