/** {
  border: solid black 2px;
}*/
body {
    margin: 0;
    width: 100%;
  }

a:visited {color: blue;}

  .wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  nav {
    /*border: black 3px solid;*/
    margin: 0;
    padding: 0;
    background: rgb(5, 100, 0);
    border: hsla(0, 100%, 100%, 0.53) 6px solid;
    text-align: center;

  }

  nav li {
    list-style: none;
    padding: 5px;
  }

  .ff-links li {
    display: inline;
    margin: 0 15px;
    list-style: none;
  }

  .ff-links li a {
    text-decoration: none;
  }

  .icon {
    height: 20px;
    margin: 2.5px 5px;
  }

  .league {
    text-align: center;
    -webkit-flex: 1;
    flex: 1;
    color: mintcream;
    font-size: 2em;
    font-family: cursive;
  }

  .container {
    /*border: black 3px solid;*/
    margin: 0 5%;
    padding: 10px 0;
    -webkit-flex: 1;
    flex: 1;
  }

  .pong-layout {
    margin: 25px 0;
    display: -webkit-flex;
    display: flex;
    /*padding: 10px 0;*/
    align-content: center;
  }

  .pong-layout div {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
  }

  .pong-layout div img {
    width: 250px;
  }

   .pong-layout div p {
    font-size: 1.5em;
    /*padding: 15% 0;*/
  }

  .shooting-order {
    display: flex;
  }

  .shooting-order div {
    flex: 1;
    text-align: center;
    align-content: center;
    margin: 5%;
  }

  .shooting-order h1 {
    font-size: 40;
    color: green;
  }

  .order ol {
    text-align: left;
    font-size: 20px;
    margin: 10px;
  }

  .btn {
    padding: 20px;
    font-size: 20px;
    border-radius: 12px;
    margin-bottom: 10px;
  }

  jumbotron {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
  }

  .instructions {
    font-weight: bold;
    text-align: center;
  }


  footer {
    /*border: black 3px solid;*/
    padding: 20px 0;
    background: rgb(5, 100, 0);
  }
