@media screen and (min-width: 200px) {
  /****************************
   PAGE: PORTFOLIO
  ****************************/

  #gallery li {
    width: 90%;
    height: 370px;
  }

  #gallery li:nth-child(4) {
    clear: left;
  }

  #timer ul li {
    font-size: 0.7em;
    width: 15%;
  }
}

@media screen and (min-width: 480px) {

  /****************************
   TWO COLUMN LAYOUT
  ****************************/

  #primary {
    width: 70%;
    float: left;
  }

  #secondary{
    width: 30%;
    float: right;
    margin-right: -10%;
  }

  #nav {
    font-size: 1.0em;
  }

  .gps1-2 li {
  float: left;
  width: 45%;
  margin-bottom: 10px;
}




  /****************************
   PAGE: ABOUT
  ****************************/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }

}



@media screen and (min-width: 680px){

   /****************************
   HEADER
  ****************************/

  nav {
    background: none;
    float: right;
    font-size: 1.25em;
    margin-right: 5%;
    text-align: right;
    width: 60%;
  }

  #logo  {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 30%;
  }

  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 1.25em;
    margin-bottom: 20px;
  }

  header {
    border-bottom: 5px solid #599a68;
    margin-bottom: 60px;
  }

   /****************************
   PAGE: PORTFOLIO
  ****************************/

  #gallery li {
    width: 28%;
    height: 460px;
  }




}