<footer>
   <a href="http://twitter.com/fdel15"><img src="/img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
  <a href="http://facebook.com/frank.delpidio"><img src="/img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
  <a href="https://github.com/fdel15"><img src="/img/github-logo.svg"/ alt="Github Logo" class="social-icon"></a>
  <a href="https://www.linkedin.com/profile/view?id=296975658&trk=nav_responsive_tab_profile"><img src="/img/social_linkedin.png"/ alt="Linked-In Logo" class="social-icon"></a>
  <p>&copy; 2016 Frank DelPidio.</p>
</footer>