---
layout: default
title: Recent Posts
---
{% for post in paginator.posts %}
<h3> {{ post.title }} </h3>

<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>

<p> {{ post.excerpt }} </p>
<p><a href={{ post.url }}>Read More</a></p>
{% endfor %}

{% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a>
{% endif %}

{% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
{% endif %}