 <nav>
      <img src="/img/broken-heart.png" class="icon">
      <span class="league">Croxton's House Of Heartbreaks</span>
      <img src="/img/broken-heart.png" class="icon">
  </nav>
   <ul class="ff-links">
    <li><a href="/chohb/2015-draft.html">2015 Draft</a></li>
    <li><a href="/chohb/random-shooting-order.html">Random Pong Order</a></li>
    <li><a href="/chohb/draftkings.html">DraftKings</a></li>
    <li><a href="/chohb/2015-draftkings-lineup-wk2.html">Week 2 Lineup</a></li>
    <li><a href="/chohb/2015-wk-1.html">Commissioner's Report</a></li>
  </ul>
